// ...
/*BS*/import { LoggedinOnlyDirective } from './shared/loggedin-only.directive';/*BE*/

@NgModule({
  declarations: [
    // ...
    /*BS*/LoggedinOnlyDirective/*BE*/
  ],
  // ...
})
export class BooksModule { }
