// ...
/*BS*/import { ConfirmDirective } from './shared/confirm.directive';/*BE*/

@NgModule({
  declarations: [
    // ...
    /*BS*/ConfirmDirective/*BE*/
  ],
  // ...
})
export class BooksModule { }
